html, body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1c2c4c;
    font-family: Arial, Helvetica, sans-serif;    
}

.pontuacao {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 18%;
    margin-left: 25%;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #8f939b;
    font-weight: bold;
}
.text{
    color: #fff;
    margin-top: 15px;
}
.tipos{
    margin:0 20;
    font-size: 25px;
}
.pontos{
    background-color: aliceblue;
    width: 20%;
    height: 100px;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 10px;
    text-align: center;
}
.pontos span {
    font-size: 3rem;
}
#ponto {
    position: relative;
    top: -10px;
}
.iconBut {
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.escolha{
    margin-left: 35%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.triangulo{
margin-left: 609px;
}
.linha1 {
    background-color: rgba(0, 0, 0, 0.322);
    height: 10px;
    width: 59px;
    position: relative;
    top: 190px;
}
.linha2{
    background-color: rgba(0, 0, 0, 0.322);
    height: 10px;
    width: 46px;
    position: relative;
    top: 259px;
    right: 50px;
    transform: rotate(55deg);
}
.linha3{
    background-color: rgba(0, 0, 0, 0.322);
    height: 10px;
    width: 48px;
    position: relative;
    top: 246px;
    left: 50px;
    transform: rotate(120deg);

}
.divPapel{
    background-color: #5069e2;
    height: 130px;
    width: 130px;
    text-align: center;
    border-radius: 50%;
}
.divPapel button{
    margin-top: 15px;
}
.divTesoura{
    background-color: #e2a12a;
    height: 130px;
    width: 130px;
    text-align: center;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -130px;
}
.divTesoura button{
    margin-top: 15px;
}
.divPedra{
    background-color: #d93c5b;
    height: 130px;
    width: 130px;
    text-align: center;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 20px;
}
.divPedra button{
    margin-top: 15px;
}
.fundobuttons {
    border: none;
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
.buttons{
    margin: 380px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.Papel{
    background-color: #5069e2;
    height: 160px;
    width: 160px;
    text-align: center;
    border-radius: 50%;
    margin-top: -10px;
}
.Papel button{
    margin-top: 15px;
}
.Tesoura{
    background-color: #e2a12a;
    height: 130px;
    width: 130px;
    text-align: center;
    border-radius: 50%;
}
.Tesoura button{
    margin-top: 15px;
}
.Pedra{
    background-color: #d93c5b;
    height: 160px;
    width: 160px;
    text-align: center;
    border-radius: 50%;
}
.Pedra button{
    margin-top: 15px;
}
#resultado{
    color: #fff;
}
#retornar{
    border: none;
    background-color: #fff;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 6px;
    margin-top: -30px;
}
.participantes{
    display: flex;
    color: #fff;
    margin-left: 405px;
    margin-top: 80px;
}
#maquina {
    margin-left: 300px;
}
.tudo{
    margin-top: 200px;
}